<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <div class="sidebar">
        <div class="app-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('build/images/xeBookLogo.jpg') }}" class="brand-image-xl" alt="xeBook Logo">
            </div>
            <div class="info">
                <a href="#" class="d-block">Publisher</a>
            </div>
        </div>
        <div class="app-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ asset('build/images/xePublisherLogo.jpg') }}" class="brand-image-xl" alt="xePublisher Logo">
            </div>
            <div class="info">
                <a href="#" class="d-block">Publisher</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item has-treeview menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-sliders-h"></i>
                        <p>Administración<i class="right fas fa-angle-left"></i></p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fas fa-home nav-icon"></i>
                                <p>Dashboard</p>
                            </a>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link active">
                                <i class="nav-icon fas fa-sliders-h"></i>
                                <p>Mi Coleción<i class="right fas fa-angle-left"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-sub-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-book nav-icon"></i>
                                        <p>Books</p>
                                    </a>
                                </li>
                                <li class="nav-sub-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-newspaper nav-icon"></i>
                                        <p>Revistas</p>
                                    </a>
                                </li>
                                <li class="nav-sub-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-film nav-icon"></i>
                                        <p>Videos</p>
                                    </a>
                                </li>
                                <li class="nav-sub-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-list-ul nav-icon"></i>
                                        <p>Categorias</p>
                                    </a>
                                </li>
                                <li class="nav-sub-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-cloud-upload-alt nav-icon"></i>
                                        <p>Mis Cargas</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item has-treeview">
                            <a href="#" class="nav-link active">
                                <i class="fas fa-shopping-cart nav-icon"></i>
                                <p>Mis Pedidos<i class="right fas fa-angle-left"></i></p>
                            </a>
                            <ul class="nav nav-treeview">
                                <li class="nav-item">
                                    <a href="#" class="nav-link">
                                        <i class="fas fa-file-contract nav-icon"></i>
                                        <p>Mis Contratos</p>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="nav-icon fas fa-chart-bar"></i>
                                <p>Estadisticas</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
